<!-- Loader -->
<div class="loader" *ngIf="!ready">
    <div class="placeholder">
        <img *ngIf="true" src="./assets/reliefScanInfoApp test logo.png">
    </div>
</div>

<!-- Main page -->
<div class="all-container" *ngIf="ready">
    <div class="main-content">
        <!-- Title -->
        <div class="firstTitle" *ngIf="actualPage.title">
            {{actualPage.title}}
        </div>

        <div class="carousel-container" (swipe)="onSwipe($event, CarouselPrev ,CarouselNext)">

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li *ngFor="let image of actualPage.images" data-target="#carousel-example-generic" data-slide-to="0"
                        class="active"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div *ngFor="let image of actualPage.images" class="carousel-item active">
                        <img [src]="image.path">
                        <div class="carousel-caption d-md-block" *ngIf="image.name">
                            <div class="captions">
                                {{image.name}}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a #CarouselPrev class="left carousel-control-prev" href="#carousel-example-generic" role="button"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a #CarouselNext class="right carousel-control-next" href="#carousel-example-generic" role="button"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>

    </div>

    <!-- Description (+subtitle?) -->
    <div class="description" *ngIf="actualPage.description">
        <div class='title' *ngIf="actualPage.subtitle">
            <strong> {{actualPage.subtitle}} </strong>
        </div>
        <p>
            {{actualPage.description}}
        </p>
    </div>
</div>

<!-- Footer -->
<div class="footer" *ngIf="ready">
    <div class="navigate" (click)="changePage('prev')" *ngIf="artId > MIN_PAGE_ID">
        ◄
    </div>
    <a class="logo" href="https://manzanareselreal.org/" target="blank">
        <img class="wfp-logo" src="./../assets/icons/Logo-Manzanares-El-Real.png">
    </a>
    <a class="logo" href="https://reliefapps.com/" target="blank">
        <img class="relief-logo" src="./../assets/icons/relief_apps_logo_white.png">
    </a>
    <div class="signature" (click)="openDialog()" *ngIf="false">
        <img src="../assets/artworks/signatureWhite.png">
    </div>
    <div class="navigate" (click)="changePage('next')" *ngIf="artId < MAX_PAGE_ID">
        ►
    </div>
</div>

<div class="snackWindow" *ngIf="dialogOpened">
    This is an info box...
</div>